.container{
    width: 1000px;
    height: 600px;
    border: 2px solid purple;
    background-color: purple;
    margin: auto;


    .inside_content{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 400px;
        width: 800px;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 100px;
        margin-right: 100px;

        div{
            margin-top: 100px;
            width: 400px;
            height: 500px;
            border: solid 1px white;
           

        }

        .first_content{
            background-color: rgb(89, 159, 182);

            .content{
               
               text-align: center;
               margin: 10px 20px 20px 30px;
               overflow: hidden;
               border: none;
                width: 350px;

                .header{
                    margin-top: 90px;
                    margin-bottom: -10px;
                    font-size: 36px;
                    font-weight: bold;
                    font-style: italic;
                    color: white;

                }

                .p1{
                    font-size: 20px;
                    color: white;
                    font-style: italic;
                    padding-top: 10px;

                }

                .p2{
                    font-size: 20px;
                    color: white;
                    font-style: italic;
                    padding-top: 10px;
                }


            }
        }

        .second_content{
            background-color: white;
            overflow: hidden;

            .contact_header{
                text-align: center;
                margin-top: 0px;
                font-size: 22px;
                font-weight: bold;
                font-style: normal;
                font-family: Arial, Helvetica, sans-serif;


                .forms{
                    font-size: 16px;
                    text-align: center;
                    margin-bottom: none;
                    margin-top: -70px;
                    width: 100px;
                    height: auto;
                    padding: 30px;

                    form{
                        padding-top: 10px;
                        padding-left: 10px;
                        margin-top: 10px;

                        h2{
                            font-size: 12px;
                            margin: 0px;
                            margin-top: 20px;
                            font-style: italic;
                            color: black;
                        }

                        .input1{
                            margin-top: 1px;
                            width: 300px;
                            height: 30px;
                            font-size: 16px;
                            color: aqua;
                            border: 1px solid lightcoral;
                            border-radius: 2%;
                            background-color: lightgrey;
                            font-weight: bold;


                        }

                        .input{
                            margin-top: 15px;
                            width: 300px;
                            height: 30px;
                            font-size: 16px;
                            color: aqua;
                            border: 1px solid lightcoral;
                            border-radius: 2%;
                            background-color: lightgrey;
                            font-weight: bold;

                        }

                        textarea{
                            margin-top: 15px;
                            width: 300px;
                            height: 70px;
                            font-size: 16px;
                            color: aqua;
                            border: solid 1px lightcoral;
                            background-color: lightgrey;
                            font-weight: bold;
                        }
                        
                        button{
                                width: 150px;
                                border-radius: 15%;
                                height: 50px;
                                font-size: 18px; 
                                text-align: center; 
                                margin-left: 70px;
                                margin-top: 20px;
                                background-color: rgb(42, 164, 205);
                                color: white;
                                font-style: italic;
                                font-weight: bold;


                            }

                            button:hover{
                                cursor: pointer;
                                background-color: rgb(89, 159, 182);
                            }
                        

                        



                    }
                }
            }
        }
    }
}

.container1{
    width: 1950px;
    height: 800px;
    border: 2px solid black;
    background-color: white;
    margin: auto;
    margin-top: 100px;

    .top{
        width: 100%;
        height: 50px;
        display: flex;

        .headerr{
            color: rgb(0, 0, 0);
            padding: none;
            margin: none;

            h1{
                margin-left: 300px;
                font-size: 26px;
                font-weight: bold;
                font-style: italic;


            }
        }

        .menu{
            margin-left: 150px;
            display: flex;

            h2{
                font-size: 14px;
                margin-top: 25px;
                margin-right: 40px;
                font-style: italic;
                color: grey;

            }

            
        }

        .icons{
            margin-left: 150px;
            display: flex;


            .border{
                height: 25px;
                width: 2px;
                background-color: black;
                margin-top: 22px;
                margin-right: 30px;
            }

            .img1{
                width: 25px;
                height: 25px;
                margin-top: 22px;
                margin-right: 30px;
            }

            img{
                width: 25px;
                height: 25px;
                margin-top: 22px;
                margin-right: 7px;

            }
        }
    }

    .content{
        display: flex;
        margin-top: 50px;
        margin-left: 20px;

        img{
            margin-left: 5px;
            position: relative;
        }
    }

    .descriptions{
        width: 100%;
        height: auto;
        margin-left: 20px;
        display: flex;
        margin-left: 110px;
        

        .chap{
            padding-left: 20px;
            padding: 20px;
            border: 2px solid black;
            width: 300px;
            height: auto;
            position: relative;
            background-color: white;
            top: -150px;
            
            

            h1{
                font-size: 14px;
                font-weight: bold;
                font-style: italic;
                text-align: center;
            }

            h2{
                font-size: 26px;
                font-weight: bold;
                font-style: italic;
                text-align: center;
            }

            h3{
                font-size: 14px;
                font-weight: bold;
                font-style: italic;
                text-align: center;
            }
        }

        .chap2{
            padding-left: 20px;
            padding: 20px;
            border: 2px solid black;
            width: 300px;
            height: auto;
            position: relative;
            background-color: white;
            top: -150px;
            left: 350px;
            
            

            h1{
                font-size: 14px;
                font-weight: bold;
                font-style: italic;
                text-align: center;
            }

            h2{
                font-size: 26px;
                font-weight: bold;
                font-style: italic;
                text-align: center;
            }

            h3{
                font-size: 14px;
                font-weight: bold;
                font-style: italic;
                text-align: center;
            }
        }


        .chap3{
            padding-left: 20px;
            padding: 20px;
            border: 2px solid black;
            width: 300px;
            height: auto;
            position: relative;
            background-color: white;
            top: -150px;
            left: 650px;
            
            

            h1{
                font-size: 14px;
                font-weight: bold;
                font-style: italic;
                text-align: center;
            }

            h2{
                font-size: 26px;
                font-weight: bold;
                font-style: italic;
                text-align: center;
            }

            h3{
                font-size: 14px;
                font-weight: bold;
                font-style: italic;
                text-align: center;
            }
        }


    }

}

.container2{
    width: 1100px;
    height: 625px;
    border: 2px solid black;
    background-color: white;
    margin: auto;
    margin-top: 100px;

    .ball{
        width: 50px;
        height: 50px;
        border: solid 5px green;
        border-radius: 50%;
        background-color: green;
        animation-name: moveBall;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        margin-top: 50px;
        margin-left: 20px;


    }

    .ball1{
        width: 50px;
        height: 50px;
        border: solid 5px green;
        border-radius: 50%;
        background-color: green;
        animation-name: moveBall1;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        margin-top: 100px;
        margin-left: 20px;


    }

    @keyframes moveBall {
        0% { transform: translateX(0) translateY(0); }
        50% { transform: translateX(1000px) translateY(500px); }
        100% { transform: translateX(0px) translateY(0px); }

    }


     @keyframes moveBall1 {
        0% { transform: translateX(0) translateY(300px); }
        50% { transform: translateX(1000px) translateY(-200px); }
        100% { transform: translateX(0px) translateY(300px); }

    }
}


.container3{
    width: 1100px;
    height: 625px;
    border: 2px solid black;
    background-color: white;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;

    


}